<a href="https://colab.research.google.com/github/aivrm/rosy/blob/main/csv_%EB%B8%94%EB%A1%9D%EB%B3%84_%EC%8B%9C%EA%B0%84%EB%8C%80%EB%B3%84%EC%86%8C%EC%95%A1%EA%B2%B0%EC%A0%9C%EA%B1%B4%EC%88%98_%EC%B9%B4%EB%93%9C%EC%86%8C%EB%B9%84%ED%8C%A8%ED%84%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
plt.rc('font', family='NanumGothic')

In [ ]:
BASE_DIR = '/content/drive/MyDrive/_aiffel/_datathon_rosy/CrdCnsmptn/csv/'

In [ ]:
df1 = pd.read_csv(BASE_DIR + '블록별 시간대별소액결제건수 카드소비패턴.csv', encoding='cp949')

In [ ]:
df1

,서울시민업종코드(UPJONG_CD),기준년월(YM),시간대구간(TIME),고객주소블록코드(BLOCK_CD),카드이용금액계(AMT_CORR),소액결제건수(MICRO_PYM)
0,SS017,202006,6,11063,257,25
1,SS013,201608,6,216137,86,10
2,SS016,201802,3,224819,35,15
3,SS055,201906,2,19869,10,0
4,SS038,201612,5,28382,10,5
...,...,...,...,...,...,...
495,SS017,201911,5,366735,5,5
496,SS016,201803,2,155750,10,30
497,SS081,202103,3,366426,5,5
498,SS069,201707,3,214935,70,10
499,SS069,201909,4,225316,30,5