<a href="https://colab.research.google.com/github/aivrm/rosy/blob/main/csv_%EC%B9%B4%EB%93%9C%EC%86%8C%EB%B9%84_%EC%97%85%EC%A2%85%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

---

In [12]:
import pandas as pd

In [13]:
import matplotlib.pyplot as plt
plt.rc('font', family='NanumGothic')

In [14]:
BASE_DIR = '/content/drive/MyDrive/_aiffel/_datathon_rosy/CrdCnsmptn/csv/'

In [15]:
df1 = pd.read_csv(BASE_DIR + '카드소비 업종코드.csv', encoding='cp949')

In [16]:
df1

   업종코드(UPJONG_CD) 대분류(CLASS1)  중분류(CLASS2) 소분류(CLASS3)
0            ss001       요식/유흥           한식          한식
1            ss002       요식/유흥     일식/중식/양식          일식
2            ss003       요식/유흥     일식/중식/양식          양식
3            ss004       요식/유흥     일식/중식/양식          중식
4            ss005       요식/유흥  제과/커피/패스트푸드         제과점
..             ...         ...          ...         ...
70           ss084   스포츠/문화/레저    스포츠/문화/레저          스키
71           ss090       교육/학원           학원      입시보습학원
72           ss091       교육/학원           학원       외국어학원
73           ss092       교육/학원           학원       예체능학원
74           ss093       교육/학원           학원     취미/전문학원

[75 rows x 4 columns]

In [17]:
df1['업종코드(UPJONG_CD)']

0     ss001
1     ss002
2     ss003
3     ss004
4     ss005
      ...
70    ss084
71    ss090
72    ss091
73    ss092
74    ss093
Name: 업종코드(UPJONG_CD), Length: 75, dtype: object

In [22]:
df1['대분류(CLASS1)']

0         요식/유흥
1         요식/유흥
2         요식/유흥
3         요식/유흥
4         요식/유흥
        ...
70    스포츠/문화/레저
71        교육/학원
72        교육/학원
73        교육/학원
74        교육/학원
Name: 대분류(CLASS1), Length: 75, dtype: object

In [21]:
set(df1['대분류(CLASS1)'])

{'가전/가구',
 '가정생활/서비스',
 '교육/학원',
 '미용',
 '스포츠/문화/레저',
 '여행/교통',
 '요식/유흥',
 '유통',
 '음/식료품',
 '의료',
 '의류/잡화',
 '자동차',
 '전자상거래',
 '주유'}

In [24]:
df1['중분류(CLASS2)']

0              한식
1        일식/중식/양식
2        일식/중식/양식
3        일식/중식/양식
4     제과/커피/패스트푸드
         ...
70      스포츠/문화/레저
71             학원
72             학원
73             학원
74             학원
Name: 중분류(CLASS2), Length: 75, dtype: object

In [26]:
set(df1['중분류(CLASS2)'])

{'가전/가구',
 '각종요금',
 '교육용품',
 '교통',
 '기타요식',
 '기타유통',
 '기타의료',
 '미용서비스',
 '백화점',
 '병원',
 '서비스',
 '숙박',
 '스포츠/문화/레저',
 '스포츠/문화/레저용품',
 '약국',
 '여행',
 '유아교육',
 '유흥',
 '음/식료품',
 '의복/의류',
 '인테리어',
 '일식/중식/양식',
 '자동차서비스/용품',
 '자동차판매',
 '전자상거래',
 '제과/커피/패스트푸드',
 '주유',
 '패션/잡화',
 '편의점',
 '학원',
 '한식',
 '할인점/슈퍼마켓',
 '화장품'}

In [27]:
df1['소분류(CLASS3)']

0          한식
1          일식
2          양식
3          중식
4         제과점
       ...
70         스키
71     입시보습학원
72      외국어학원
73      예체능학원
74    취미/전문학원
Name: 소분류(CLASS3), Length: 75, dtype: object

In [28]:
set(df1['소분류(CLASS3)'])

{'LPG',
 '가구',
 '가전',
 '결제대행(PG)',
 '교육용품',
 '교통',
 '기타가전/가구',
 '기타요식',
 '기타유통',
 '기타유흥업소',
 '기타음/식료품',
 '기타의료',
 '노래방',
 '농수산물',
 '독서실',
 '면세점',
 '모텔/여관/기타숙박',
 '문화용품',
 '미용서비스',
 '미용실',
 '백화점',
 '보험',
 '생활서비스',
 '생활잡화',
 '서점',
 '세탁소',
 '슈퍼마켓',
 '스키',
 '스포츠/레저용품',
 '스포츠시설',
 '시계/귀금속',
 '실내골프',
 '실외골프',
 '안경',
 '약국',
 '양식',
 '업무서비스',
 '여행사',
 '영화/공연',
 '예체능학원',
 '온라인거래',
 '외국어학원',
 '유아교육',
 '유흥주점',
 '의복/의류',
 '인테리어',
 '일반병원',
 '일식',
 '입시보습학원',
 '자동차서비스',
 '자동차용품',
 '자동차판매',
 '정육점',
 '제과점',
 '종합레저시설',
 '종합병원',
 '주유소',
 '중식',
 '취미/오락',
 '취미/전문학원',
 '치과병원',
 '커피전문점',
 '통신',
 '패션/잡화',
 '패스트푸드',
 '편의점',
 '한식',
 '한의원',
 '할인점/슈퍼마켓',
 '항공',
 '헬스',
 '호텔/콘도',
 '홈쇼핑',
 '화원',
 '화장품'}

In [29]:
len(set(df1['소분류(CLASS3)']))

75

* 소분류(CLASS3) 75가지 (중복 없음)
* 중분류(CLASS2) 33가지
* 대분류(CLASS1) 14가지
* 업종코드(UPJONG_CD)는 ss001 ~ ss093

>소분류가 75개인데,
>업종코드는 93까지이므로, 중간에 빠진 코드번호가 있을 것으로 추정함.