<a href="https://colab.research.google.com/github/aivrm/rosy/blob/main/csv_%EC%A7%91%EA%B3%84%EA%B5%AC%EB%B3%84_%EC%9D%BC%EB%B3%84%EC%8B%9C%EA%B0%84%EB%8C%80%EB%B3%84_%EC%B9%B4%EB%93%9C%EC%86%8C%EB%B9%84%ED%8C%A8%ED%84%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
csv_path = '/content/drive/MyDrive/_aiffel/_datathon_rosy/CrdCnsmptn/csv/'

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
plt.rc('font', family='NanumGothic')

In [ ]:
BASE_DIR = '/content/drive/MyDrive/_aiffel/_datathon_rosy/CrdCnsmptn/csv/'

In [ ]:
df1 = pd.read_csv(BASE_DIR + '집계구별 일별시간대별 카드소비패턴.csv', encoding='cp949')

In [ ]:
df1

,업종대분류(UPJONG_CLASS1),기준일자(YMD),시간대구간(TIME),고객주소집계구별(TOT_REG_CD),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR)
0,요식/유흥,20161004,6,1123076010009,104624,10
1,유통,20210303,5,1122060030003,382592,20
2,유통,20170606,6,1123066022301,341688,5
3,스포츠/문화/레저,20171206,5,1124075020103,925118,5
4,의료,20160909,6,1113075030002,217985,50
...,...,...,...,...,...,...
495,전자상거래,20170727,2,1120069010006,90540,25
496,유통,20190406,3,1123072010303,1211325,20
497,교육/학원,20210107,3,1119072030101,266590,15
498,전자상거래,20200426,4,1105063030203,547264,25
499,여행/교통,20160625,4,1103072030001,10559831,5

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   업종대분류(UPJONG_CLASS1)  500 non-null    object
 1   기준일자(YMD)             500 non-null    int64
 2   시간대구간(TIME)           500 non-null    int64
 3   고객주소집계구별(TOT_REG_CD)  500 non-null    int64
 4   카드이용금액계(AMT_CORR)     500 non-null    int64
 5   카드이용건수계(USECT_CORR)   500 non-null    int64
dtypes: int64(5), object(1)
memory usage: 23.6+ KB