<a href="https://colab.research.google.com/github/aivrm/rosy/blob/main/xls_%EC%A7%91%EA%B3%84%EA%B5%AC%EB%8C%80%ED%91%9C%EC%A3%BC%EC%86%8C_2021%EB%85%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

---
**"집계구"란?**

기초단위구를 결합시켜 만든 구역으로 기초단위구에 통계적 특성인 동질성, 동량성을 부가하여 확정한 근린지역 통계서비스 구역을 말한다.

https://www.law.go.kr/LSW/admRulSideInfoP.do?langType=Ko&urlMode=admRulScJoRltInfoR&joChgYn=N&joNo=0002&joBrNo=00&docCls=jo&chrClsCd=010202&admRulSeq=2100000001732

---

---
**집계구? 자치구인가요?**

집계구는 자치구가 아닙니다. 자치구보다 훨씬 작은 구역단위입니다.<br>
서울시는 424개의 행정기관, 467개의 법정동, 12,756개의 통, 99,098개의 반으로 이루어져있습니다.<br>
(2010년 말기준) 집계구는 통계청에서 통계정보를 제공하기 위해 구축한 최소 통계구역 단위로서,<br>
서울시 지역이 약 16,470개로 나뉘어져있습니다.<br>
단순히 크기로만 비교한다면 통과 비슷하다고 할 수 있을 거 같습니다. 참고하시기 바랍니다.

https://www.si.re.kr/node/47073

---

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
plt.rc('font', family='NanumGothic')

In [ ]:
BASE_DIR = '/content/drive/MyDrive/_aiffel/_datathon_rosy/CrdCnsmptn/csv/'

In [ ]:
# df1 = pd.read_excel(BASE_DIR + '집계구대표주소_2021년.xlsx')

```
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104107 entries, 0 to 104106
Data columns (total 5 columns):
 #   Column                                                  Non-Null Count   Dtype  
---  ------                                                  --------------   -----  
 0   2021년 집계구코드                                             104107 non-null  int64  
 1   도로명 주소(집계구 무게중심점에서 가장 가까운 건물 주소)                        104107 non-null  object 
 2   지번주소(집계구 무게중심점에서 가장 가까운 건물 주소)                          104107 non-null  object 
 3   ※ 도로명주소와 지번주소의 건물은 동일 건물이 아닐수 있어서 동일 주소값으로 사용할 수 없습니다.  2 non-null       object 
 4   @                                                       0 non-null       float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ MB
```

In [ ]:
# df1 = pd.read_excel(BASE_DIR + '집계구대표주소_2021년.xlsx', sheet_name='Sheet1')

```
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104107 entries, 0 to 104106
Data columns (total 4 columns):
 #   Column                                                  Non-Null Count   Dtype 
---  ------                                                  --------------   ----- 
 0   2021년 집계구코드                                             104107 non-null  int64 
 1   도로명 주소(집계구 무게중심점에서 가장 가까운 건물 주소)                        104107 non-null  object
 2   지번주소(집계구 무게중심점에서 가장 가까운 건물 주소)                          104107 non-null  object
 3   ※ 도로명주소와 지번주소의 건물은 동일 건물이 아닐수 있어서 동일 주소값으로 사용할 수 없습니다.  2 non-null       object
dtypes: int64(1), object(3)
memory usage: 3.2+ MB
```

In [ ]:
df1 = pd.read_excel(BASE_DIR + '집계구대표주소_2021년.xlsx', sheet_name='Sheet1')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104107 entries, 0 to 104106
Data columns (total 5 columns):
 #   Column                                                  Non-Null Count   Dtype
---  ------                                                  --------------   -----
 0   2021년 집계구코드                                             104107 non-null  int64
 1   도로명 주소(집계구 무게중심점에서 가장 가까운 건물 주소)                        104107 non-null  object
 2   지번주소(집계구 무게중심점에서 가장 가까운 건물 주소)                          104107 non-null  object
 3   ※ 도로명주소와 지번주소의 건물은 동일 건물이 아닐수 있어서 동일 주소값으로 사용할 수 없습니다.  2 non-null       object
 4   @                                                       0 non-null       float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ MB

In [ ]:
df1

,2021년 집계구코드,도로명 주소(집계구 무게중심점에서 가장 가까운 건물 주소),지번주소(집계구 무게중심점에서 가장 가까운 건물 주소),※ 도로명주소와 지번주소의 건물은 동일 건물이 아닐수 있어서 동일 주소값으로 사용할 수 없습니다.,@
0,1101053010001,서울특별시 종로구 자하문로6길 18-8,서울특별시 종로구 사직동 35-17,※ 해당 주소는 집계구 중심점의 근사치 이므로 참고용 자료일뿐 해당 집계구를 대표하...,NaN
1,1101053020001,서울특별시 종로구 필운대로1길 35-2,서울특별시 종로구 사직동 33-3,※ 지번주소는 행정동 + 지번본번 + 지번부본 으로 구성되어 일반 법정동 주소와는 ...,NaN
2,1101053020002,서울특별시 종로구 사직로7길 3-14,서울특별시 종로구 사직동 262-25,NaN,NaN
3,1101053020003,서울특별시 종로구 사직로9길 15-25,서울특별시 종로구 사직동 262-197,NaN,NaN
4,1101053020004,서울특별시 종로구 자하문로1나길 7-6,서울특별시 종로구 사직동 175-2,NaN,NaN
...,...,...,...,...,...
104102,3902062020002,제주특별자치도 서귀포시 예래로295번길 62,제주특별자치도 서귀포시 예래동 817,NaN,NaN
104103,3902062020005,제주특별자치도 서귀포시 상예로 4-11,제주특별자치도 서귀포시 예래동 1233,NaN,NaN
104104,3902062020006,제주특별자치도 서귀포시 소보리당로29번길 56-62,제주특별자치도 서귀포시 예래동 3450,NaN,NaN
104105,3902062020008,제주특별자치도 서귀포시 예래로141번길 5-6,제주특별자치도 서귀포시 예래동 778,NaN,NaN
104106,3902062020012,제주특별자치도 서귀포시 예래해안로 78,제주특별자치도 서귀포시 예래동 1774-2,NaN,NaN